.container-prontos {
    width: 90%; 
    margin: 0px auto 0px;
    padding: 5px 20px 20px 20px;
    height: 350px;
}

.prontos-scroll {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.prontos {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.chamando {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 80px;
    background-color: #BE0E19;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative; 
}

.chamando span {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}

.pedidos-prontos {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
}

.titulo-prontos {
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.prontos-scroll::-webkit-scrollbar {
    height: 0px; /* altura da barra de rolagem horizontal */
}