* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-weight: 300;
}

.container-principal{
    background-color: #f2f2f2;
    border-radius: 10px;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

.seta{
    width: 20px;
    height: 20px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    transition: all 0.5s;
}
#logo {
    margin-right: 140px;
}
#rest {
    font-weight: 300;
}

.done {
    background-color: #aaf612;
    text-decoration: line-through;
}

/* Estilos padrão para dispositivos móveis
body {
    font-size: 14px;
    padding: 10px;
}

Tablets
@media (min-width: 481px) {
    body {
        font-size: 16px;
        padding: 20px;
    }
}

Desktops
@media (min-width: 769px) {
    body {
        font-size: 18px;
        padding: 30px;
    }
}
Large Desktops
@media (min-width: 1025px) {
    body {
        font-size: 20px;
        padding: 40px;
    }
} */

/* Frameworks: Considere usar frameworks como Bootstrap ou Tailwind CSS
que oferecem suporte a responsividade e podem acelerar o desenvolvimento. */