.container-prontos {
    width: 90%; 
    margin: 0 auto; /* Remove o margin-bottom e margin-top especificados */
    padding: 5px 20px; /* Remove o padding-bottom se não for necessário */
    height: auto; /* Ajusta a altura automaticamente para o conteúdo */
    box-sizing: border-box; /* Inclui padding e border na altura e largura total */
    overflow: hidden;
}

.prontos-scroll {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.prontos {
    display: flex;
    list-style: none;
    padding: 0;
}

.chamando {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
    background-color: #BE0E19;
    height: 220px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    position: relative; 
    padding-top: 8px;
}
.pos {
    position: absolute;
    top: 12px; /* Ajuste a distância do topo */
    left: 20px; /* Ajuste a distância da esquerda */
    font-size: 30px; /* Ajuste o tamanho do número conforme necessário */
    color: #fff; /* Cor do número */
}
.chamando p {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar o texto */
    padding: 5px; /* Espaçamento interno */
    font-size: 25px

}
.name {
    position: absolute;
    top: 170px; /* Posiciona logo abaixo do <h1> */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar o texto */
    padding: 5px; /* Espaçamento interno */
    font-size: 22px; /* Ajuste o tamanho da fonte conforme necessário */
    white-space: nowrap; /* Impede que o texto se quebre em várias linhas */
}

.naoveio {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    width: 100%;
    color: #909090;
}

.chamando span {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}

.pedidos-prontos {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.titulo-prontos {
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.prontos-scroll::-webkit-scrollbar {
    height: 0px; /* altura da barra de rolagem horizontal */
}

.highlighted {
    background-color: rgb(113, 201, 113);
    color: white;
}
